<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Jai Shri Krishna! <%= @user.firstname %> <%= @user.lastname %> ji,</p>
    <p>You have successfully changed your Maheshwari Jagruth password.</p>
    <p>You may login to <%= @url %> using your new password:</p>
      <p>MJ ID: <%= @user.mj_id %></p>
      <p>Password: <%= @pwd %></p>
    <p>Regards,</p>
    <p>Maheshwari Jagruth Team</p>
    <p>Promoted by</p>
    <p>Salasar Industries India Limited</p>
  </body>
</html>